{"openapi":"3.1.0","info":{"title":"SISX Server API","description":"API specification for SISX server workflows including AA Trigger V2","version":"1.0.0","license":{"name":"MIT"}},"servers":[{"url":"https://sisx.thesqd.com","description":"SISX Production Server"}],"security":[{"bearerAuth":[]}],"paths":{"/aa-trigger":{"post":{"tags":["AA Trigger V2"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/aa-trigger-retry":{"post":{"tags":["AA Trigger V2"],"summary":"Execute Webhook1 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook1 workflow via webhook","operationId":"execute_webhook1"}},"/trigger-estimate":{"post":{"tags":["Time Estimate Processor V5","Auto-Scheduler"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/availability-api":{"post":{"tags":["Designer Availability API v5.2"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}}},"components":{"schemas":{"AATriggerRequest":{"type":"object","properties":{"submission_date":{"type":"string","format":"date-time","description":"The submission date for calculation","example":"2025-07-11T10:00:00Z"},"days out":{"type":"string","description":"Number of business days to add","example":"5"}},"required":["submission_date","days out"]},"SuccessResponse":{"type":"object","required":["success","message"],"properties":{"data":{"type":"object","additionalProperties":true},"message":{"type":"string","example":"Workflow executed successfully"},"success":{"type":"boolean","example":true}}},"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"integer","format":"int32"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Bearer token for authentication"}}},"tags":[{"name":"AA Trigger V2","description":"AA Trigger V2 workflow operations"},{"name":"Time Estimate Processor V5","description":"Time Estimate Processor V5 operations"},{"name":"Auto-Scheduler","description":"Operations tagged with Auto-Scheduler"},{"name":"Designer Availability API v5.2","description":"Designer Availability API v5.2 operations"}]}