{"openapi":"3.1.0","info":{"title":"SISX Server API","description":"API specification for SISX server workflows including AA Trigger V2","version":"1.0.0","license":{"name":"MIT"}},"servers":[{"url":"https://sisx.thesqd.com","description":"SISX Production Server"}],"security":[{"bearerAuth":[]}],"paths":{"/aa-trigger":{"post":{"tags":["AA Trigger V2"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/aa-trigger-retry":{"post":{"tags":["AA Trigger V2"],"summary":"Execute Webhook1 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook1 workflow via webhook","operationId":"execute_webhook1"}},"/trigger-estimate":{"post":{"tags":["Time Estimate Processor V5","Auto-Scheduler"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/availability-api":{"post":{"tags":["Designer Availability API v5.2"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_post"}},"/sis-sync-wf-cursor":{"post":{"tags":["Update Sis_Workflows"],"summary":"Execute Cursor workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Cursor workflow via webhook","operationId":"execute_cursor"}},"/sis-sync-wf-delete":{"post":{"tags":["Update Sis_Workflows"],"summary":"Execute Delete WF Record workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Delete WF Record workflow via webhook","operationId":"execute_delete_wf_record"}},"/sis-sync-wf-new-record":{"post":{"tags":["Update Sis_Workflows"],"summary":"Execute New Record workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the New Record workflow via webhook","operationId":"execute_new_record"}},"/enrich-record":{"post":{"tags":["Watch All Tasks V3"],"summary":"Execute HookDeck Trigger workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the HookDeck Trigger workflow via webhook","operationId":"execute_hookdeck_trigger"}},"/enrich-record-manual":{"post":{"tags":["Watch All Tasks V3"],"summary":"Execute Manual Trigger workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Manual Trigger workflow via webhook","operationId":"execute_manual_trigger"}},"/mmq":{"get":{"tags":["MMQ"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_get"},"patch":{"tags":["MMQ"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_patch"}},"/logo":{"get":{"tags":["MMQ"],"summary":"Execute Webhook4 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook4 workflow via webhook","operationId":"execute_webhook4_get"}},"/play-pause":{"patch":{"tags":["MMQ"],"summary":"Execute Webhook3 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook3 workflow via webhook","operationId":"execute_webhook3_patch"}},"/89bd1ecd-d146-4038-9377-471a4a0fdb59":{"get":{"tags":["Get SISX Execution"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_get"}},"/task-dependency-handler":{"post":{"tags":["Task Dependency Handler"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_post"}},"/mmq-redirector":{"get":{"tags":["MMQ Clickup View Redirector"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_get"}},"/reviewed":{"post":{"tags":["mySquad Chrome Ext"],"summary":"Execute Webhook2 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook2 workflow via webhook","operationId":"execute_webhook2_post"}},"/add-to-queue":{"patch":{"tags":["mySquad Chrome Ext"],"summary":"Execute Webhook3 workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook3 workflow via webhook","operationId":"execute_webhook3_patch"}},"/a48b0db4-60cc-457d-8e12-56275931ac4b":{"get":{"tags":["mySquad Chrome Ext"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook_get"}}},"components":{"schemas":{"AATriggerRequest":{"type":"object","properties":{"submission_date":{"type":"string","format":"date-time","description":"The submission date for calculation","example":"2025-07-11T10:00:00Z"},"days out":{"type":"string","description":"Number of business days to add","example":"5"}},"required":["submission_date","days out"]},"SuccessResponse":{"type":"object","required":["success","message"],"properties":{"data":{"type":"object","additionalProperties":true},"message":{"type":"string","example":"Workflow executed successfully"},"success":{"type":"boolean","example":true}}},"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"integer","format":"int32"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Bearer token for authentication"}}},"tags":[{"name":"AA Trigger V2","description":"AA Trigger V2 workflow operations"},{"name":"Time Estimate Processor V5","description":"Time Estimate Processor V5 operations"},{"name":"Auto-Scheduler","description":"Operations tagged with Auto-Scheduler"},{"name":"Designer Availability API v5.2","description":"Designer Availability API v5.2 operations"},{"name":"Update Sis_Workflows","description":"Update Sis_Workflows operations"},{"name":"Watch All Tasks V3","description":"Watch All Tasks V3 operations"},{"name":"MMQ","description":"MMQ operations"},{"name":"Get SISX Execution","description":"Get SISX Execution operations"},{"name":"Task Dependency Handler","description":"Task Dependency Handler operations"},{"name":"MMQ Clickup View Redirector","description":"MMQ Clickup View Redirector operations"},{"name":"mySquad Chrome Ext","description":"mySquad Chrome Ext operations"}]}