{"openapi":"3.1.0","info":{"title":"N8N Cloud","description":"API specification for N8N Cloud","version":"1.0.0"},"servers":[{"url":"https://churchmediasquad.app.n8n.cloud/","description":"N8N Cloud Server"}],"paths":{"/check-airtable-record":{"post":{"tags":["❄️ Airtable Search Checker"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/clickup-list-checker":{"post":{"tags":["❄️ ClickUp List Checker"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}},"/wsa-send-otp":{"post":{"tags":["❄️ Website Support Audit"],"summary":"Execute Send OTP workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Send OTP workflow via webhook","operationId":"execute_send_otp"}},"/wsa-get-websites":{"post":{"tags":["❄️ Website Support Audit"],"summary":"Execute Get Websites workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Get Websites workflow via webhook","operationId":"execute_get_websites"}},"/wsa-get-support-options":{"post":{"tags":["❄️ Website Support Audit"],"summary":"Execute Get Support Options workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Get Support Options workflow via webhook","operationId":"execute_get_support_options"}},"/wsa-update-website-support-options":{"post":{"tags":["❄️ Website Support Audit"],"summary":"Execute Update Account Support Options workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Update Account Support Options workflow via webhook","operationId":"execute_update_account_support_options"}},"/prf4-sms-task-handler":{"post":{"tags":["4️⃣ SMS - Task Handler"],"summary":"Execute Webhook workflow","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}},"description":"Successful workflow execution"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Internal server error"}},"description":"Triggers the Webhook workflow via webhook","operationId":"execute_webhook"}}},"components":{"schemas":{"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"SuccessResponse":{"type":"object","required":["success","message"],"properties":{"data":{"type":"object","additionalProperties":true},"message":{"type":"string","example":"Workflow executed successfully"},"success":{"type":"boolean","example":true}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Bearer token for authentication"}}},"tags":[{"name":"❄️ Airtable Search Checker","description":"❄️ Airtable Search Checker operations"},{"name":"❄️ ClickUp List Checker","description":"❄️ ClickUp List Checker operations"},{"name":"❄️ Website Support Audit","description":"❄️ Website Support Audit operations"},{"name":"4️⃣ SMS - Task Handler","description":"4️⃣ SMS - Task Handler operations"}],"security":[]}