{
  "openapi": "3.1.0",
  "info": {
    "title": "AA Trigger V2",
    "description": "API specification for AA Trigger V2",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://sis1.thesqd.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/aa-trigger": {
      "post": {
        "summary": "Execute AA Trigger V2 workflow",
        "description": "Triggers the AA Trigger V2 workflow via webhook",
        "operationId": "execute_aa_trigger",
        "requestBody": {
          "description": "Workflow input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The submission date for calculation"
                  },
                  "days out": {
                    "type": "string",
                    "description": "Number of business days to add"
                  }
                },
                "required": [
                  "submission_date",
                  "days out"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "days out": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Workflow"
        ]
      }
    },
    "/aa-trigger-retry": {
      "post": {
        "summary": "Execute AA Trigger V2 workflow",
        "description": "Triggers the AA Trigger V2 workflow via webhook",
        "operationId": "execute_aa_trigger_retry",
        "requestBody": {
          "description": "Workflow input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The submission date for calculation"
                  },
                  "days out": {
                    "type": "string",
                    "description": "Number of business days to add"
                  }
                },
                "required": [
                  "submission_date",
                  "days out"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "days out": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Workflow"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "WorkflowInput2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "status field"
          },
          "queue_num": {
            "type": "number",
            "description": "queue_num field"
          },
          "account": {
            "type": "number",
            "description": "account field"
          }
        },
        "required": [
          "status",
          "queue_num",
          "account"
        ]
      },
      "WorkflowInput3": {
        "type": "object",
        "properties": {
          "=workflow_id": {
            "type": "string",
            "description": "=workflow_id field"
          },
          "=execution_id": {
            "type": "string",
            "description": "=execution_id field"
          },
          "status": {
            "type": "string",
            "description": "status field"
          }
        },
        "required": [
          "=workflow_id",
          "=execution_id",
          "status"
        ]
      },
      "WorkflowInput4": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "description": "body field"
          }
        },
        "required": [
          "body"
        ]
      },
      "WorkflowInput5": {
        "type": "object",
        "properties": {
          "no_non_design_assignees": {
            "type": "boolean",
            "description": "no_non_design_assignees field"
          },
          "=supabase_node": {
            "type": "string",
            "description": "=supabase_node field"
          }
        },
        "required": [
          "no_non_design_assignees",
          "=supabase_node"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authentication"
      }
    }
  },
  "tags": [
    {
      "name": "Workflow",
      "description": "N8N workflow operations"
    }
  ]
}
