{
  "openapi": "3.1.0",
  "info": {
    "title": "Church Media Squad API",
    "description": "Combined API specification for Church Media Squad services including AA Trigger V2, SQDFiles General Submissions, and Strategy Markups",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://sis1.thesqd.com",
      "description": "SIS1 Production Server"
    },
    {
      "url": "https://sis2.thesqd.com",
      "description": "SIS2 Production Server"
    },
    {
      "url": "https://sisx.thesqd.com",
      "description": "SISX Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/aa-trigger": {
      "post": {
        "servers": [
          {
            "url": "https://sisx.thesqd.com",
            "description": "SISX Production Server"
          }
        ],
        "summary": "Execute AA Trigger V2 workflow",
        "description": "Triggers the AA Trigger V2 workflow via webhook",
        "operationId": "execute_aa_trigger",
        "requestBody": {
          "description": "Workflow input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AATriggerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "AA Trigger V2"
        ]
      }
    },
    "/aa-trigger-retry": {
      "post": {
        "servers": [
          {
            "url": "https://sisx.thesqd.com",
            "description": "SISX Production Server"
          }
        ],
        "summary": "Execute AA Trigger V2 workflow with retry",
        "description": "Triggers the AA Trigger V2 workflow via webhook with retry capability",
        "operationId": "execute_aa_trigger_retry",
        "requestBody": {
          "description": "Workflow input data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AATriggerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "AA Trigger V2"
        ]
      }
    },
    "/general-submission-processor": {
      "post": {
        "servers": [
          {
            "url": "https://sis2.thesqd.com",
            "description": "SIS2 Production Server"
          }
        ],
        "summary": "Execute SQDFiles General Submissions workflow",
        "description": "Triggers the SQDFiles General Submissions workflow via webhook. Processes general submissions and creates organized Dropbox folders with file uploads.",
        "operationId": "execute_general_submission_processor",
        "requestBody": {
          "description": "General submission data from Hookdeck",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "SQDFiles General Submissions"
        ]
      }
    },
    "/markup-created": {
      "post": {
        "servers": [
          {
            "url": "https://sis1.thesqd.com",
            "description": "SIS1 Production Server"
          }
        ],
        "summary": "Execute Strategy Markups workflow",
        "description": "Triggers the Strategy Markups workflow via webhook. Processes markup data from Markup.io and synchronizes it with Airtable.",
        "operationId": "execute_markup_created",
        "requestBody": {
          "description": "Markup creation notification",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkupCreatedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Strategy Markups"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AATriggerRequest": {
        "type": "object",
        "properties": {
          "submission_date": {
            "type": "string",
            "format": "date-time",
            "description": "The submission date for calculation",
            "example": "2025-07-11T10:00:00Z"
          },
          "days out": {
            "type": "string",
            "description": "Number of business days to add",
            "example": "5"
          }
        },
        "required": [
          "submission_date",
          "days out"
        ]
      },
      "GeneralSubmissionRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "record": {
                "type": "object",
                "properties": {
                  "submission_id": {
                    "type": "string",
                    "description": "Unique submission identifier"
                  },
                  "seq_folder_number": {
                    "type": "string",
                    "description": "Sequential folder number"
                  },
                  "dropbox_folder_path_2": {
                    "type": "string",
                    "nullable": true,
                    "description": "Dropbox folder path (null for new submissions)"
                  },
                  "folder_created_2": {
                    "type": "string",
                    "nullable": true,
                    "description": "Folder creation timestamp (null for new submissions)"
                  },
                  "raw_data": {
                    "type": "object",
                    "properties": {
                      "selectedChurch": {
                        "type": "object",
                        "properties": {
                          "memberid": {
                            "type": "string",
                            "description": "Church member ID"
                          },
                          "church_name": {
                            "type": "string",
                            "description": "Church name"
                          }
                        }
                      },
                      "generalInfo": {
                        "type": "object",
                        "properties": {
                          "projectTitle": {
                            "type": "string",
                            "description": "Project title"
                          }
                        }
                      },
                      "creativeDirection": {
                        "type": "object",
                        "properties": {
                          "inspo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "image": {
                                  "type": "string",
                                  "description": "Image URL"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Image description"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "body"
        ]
      },
      "MarkupCreatedRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Markup name",
            "example": "Account 1234 - Project Name"
          },
          "id": {
            "type": "string",
            "description": "Markup ID",
            "example": "markup-id-123"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2025-07-11T17:13:30.991Z"
          }
        },
        "required": [
          "name",
          "id",
          "created"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates successful execution",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Workflow executed successfully"
          },
          "data": {
            "type": "object",
            "description": "Response data",
            "additionalProperties": true
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request parameters"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authentication"
      }
    }
  },
  "tags": [
    {
      "name": "AA Trigger V2",
      "description": "AA Trigger V2 workflow operations on SISX server"
    },
    {
      "name": "SQDFiles General Submissions",
      "description": "SQDFiles General Submissions workflow operations on SIS2 server"
    },
    {
      "name": "Strategy Markups",
      "description": "Strategy Markups workflow operations on SIS1 server"
    }
  ]
}