{
  "openapi": "3.1.0",
  "info": {
    "title": "SIS1 Server API",
    "description": "API specification for SIS1 server workflows including Strategy Markups",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://sis1.thesqd.com",
      "description": "SIS1 Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/markup-created": {
      "post": {
        "summary": "Execute Strategy Markups workflow",
        "description": "Triggers the Strategy Markups workflow via webhook. Processes markup data from Markup.io and synchronizes it with Airtable.",
        "operationId": "execute_markup_created",
        "requestBody": {
          "description": "Markup creation notification",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkupCreatedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful workflow execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Strategy Markups"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "MarkupCreatedRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Markup name",
            "example": "Account 1234 - Project Name"
          },
          "id": {
            "type": "string",
            "description": "Markup ID",
            "example": "markup-id-123"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2025-07-11T17:13:30.991Z"
          }
        },
        "required": [
          "name",
          "id",
          "created"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates successful execution",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Workflow executed successfully"
          },
          "data": {
            "type": "object",
            "description": "Response data",
            "additionalProperties": true
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request parameters"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authentication"
      }
    }
  },
  "tags": [
    {
      "name": "Strategy Markups",
      "description": "Strategy Markups workflow operations"
    }
  ]
}